/* style.css */
/* background color */
body {
    background-color: #0d1117;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: auto;
}